<div class="artist">
  <h1>Comments</h1>

  <br />
  
  <%= link_to  "Add new comment", new_movie_comment_path %>
  
  <br />
   <h1> User Name: <%= current_user.email %> </h1>
    <% @comments.each do |comment| %>
    <div class="item">
      <div class="content">
        <li class="header"><%= link_to comment.body, [@movie, comment] %></li>
      </div>
    </div>
  <% end %>
  </div>
</div>
