<div class="artist">
  <h1>Comments</h1>

  <br />
  
  <%= link_to  "Add new comment", new_movies_commentspath %>
  
  <br />
    <%= link_to "User Name: ", user_id %>
    <% @comments.each do |song| %>
    <div class="item">
      <div class="content">
        <li class="header"><%= link_to movies_comment.body, movies_comments_path  %></li>
      </div>
    </div>
  <% end %>
  </div>
</div>
