<div class="artist">
  <h1>Comments</h1>

  <br />

   <h2 class="ui button tan"><%= link_to  "Add new comment", new_movie_comment_path %></h2>

  <br />
   <h2> User Name: <%= current_user.email %> </h2>
    <% @comments.each do |comment| %>
    <div class="item">
      <div class="content">
        <li class="header"><%= link_to comment.body, [@movie, comment] %></li>
      </div>
    </div>
  <% end %>
  </div>
</div>
