<div class="right menu">
  <button class='ui right floated button'><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></button>
  <button class='ui right floated button'><%= link_to 'uToob Movies', movies_path %></button>
  <button class='ui right floated button'><%= link_to 'Playlists', root_path %></button>
</div>
