<h1 >Accounts page</h1>
<hr>

<h2>Your playlists</h2>
<h3 class="ui button tan"><%= link_to 'Add New Playlist', new_account_path %></h3>
<ul>
  <% @accounts.each do |account| %>
  <li><%= link_to account.name, account_path(account)%> </li>
<% end %>

</ul>

<h2>Comments You Have Made</h2>
<ul>
  <% current_user.comments.each do |comment| %>
  <li><%= comment.body %> - <%= link_to comment.movie.title, comment.movie %></li>
  <% end %>
</ul>
