<h1>Accounts page</h1>
<h2>Your playlists</h2>
<%= link_to 'Add New Playlist', new_account_path %> 
<ul>
  <% @accounts.each do |account| %> 
  <li><%= link_to account.name, account_path(account)%> </li>
<% end %> 

</ul>

<h2>Comments You Have Made</h2>
<ul>
  <% current_user.comments.each do |comment| %> 
  <li><%= comment.body %> - <%= link_to comment.movie.title, comment.movie %></li>
  <% end %>
</ul>

