<h1><%= @account.name %></h1>
<hr />
<p>What would you like to do?</p>
<%= link_to 'View Movies', movies_path %> 
<br />
<%= link_to 'Edit Playlist', edit_account_path(@account)%> 
<br /> 
<%= link_to 'Delete Playlist', @account, method: :delete %> 